# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.virtualenv/
virtualenv/
*/.Python
*.pyo
*.pyd

# VSCode settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment variables
.env
.env.*

# SQLite DBs
*.sqlite3

# Logs and temporary files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# Personal/local scripts
subir.bat
subir.ps1
*.sh

# ZIPs and deployment archives
*.zip
deploy/
