flask
flask_sqlalchemy
python-dotenv
pymysql
cryptography
flask-cors
marshmallow
requests
pyyaml
gunicorn
awsgi; sys_platform != 'win32'
Flask-JWT-Extended
argon2-cffi
apispec[marshmallow]
webargs
openpyxl
