-- MySQL dump 10.13  Distrib 8.4.0, for Win64 (x86_64)
--
-- Host: localhost    Database: api_workers
-- ------------------------------------------------------
-- Server version	8.4.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `academia`
--

DROP TABLE IF EXISTS `academia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `academia` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=76 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `alembic_version`
--

DROP TABLE IF EXISTS `alembic_version`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alembic_version` (
  `version_num` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`version_num`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `alumno`
--

DROP TABLE IF EXISTS `alumno`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alumno` (
  `id` int NOT NULL AUTO_INCREMENT,
  `academia_id` int NOT NULL,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dni` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telefono` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha_nacimiento` date NOT NULL,
  `direccion` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nombre_tutor` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `relaccion_tutor_alumno` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telefono_tutor` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email_tutor` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `academia_id` (`academia_id`),
  CONSTRAINT `alumno_ibfk_1` FOREIGN KEY (`academia_id`) REFERENCES `academia` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `anotacionesalumnosesion`
--

DROP TABLE IF EXISTS `anotacionesalumnosesion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `anotacionesalumnosesion` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sesion_id` int NOT NULL,
  `inscripcion_id` int NOT NULL,
  `curso_id` int NOT NULL,
  `curso_profesor_id` int NOT NULL,
  `alumno_id` int NOT NULL,
  `tipo_anotacion` enum('Ausencia','Evaluacion','Comportamiento','Observacion','Otros') COLLATE utf8mb4_unicode_ci NOT NULL,
  `texto` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `timestamp_alta` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `timestamp_baja` datetime DEFAULT NULL,
  `motivo_baja` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `sesion_id` (`sesion_id`),
  KEY `alumno_id` (`alumno_id`),
  KEY `inscripcion_id` (`inscripcion_id`),
  KEY `curso_id` (`curso_id`),
  KEY `curso_profesor_id` (`curso_profesor_id`),
  CONSTRAINT `anotacionesalumnosesion_ibfk_1` FOREIGN KEY (`sesion_id`) REFERENCES `sesion` (`id`),
  CONSTRAINT `anotacionesalumnosesion_ibfk_2` FOREIGN KEY (`alumno_id`) REFERENCES `alumno` (`id`),
  CONSTRAINT `anotacionesalumnosesion_ibfk_3` FOREIGN KEY (`inscripcion_id`) REFERENCES `inscripcion` (`id`),
  CONSTRAINT `anotacionesalumnosesion_ibfk_4` FOREIGN KEY (`curso_id`) REFERENCES `curso` (`id`),
  CONSTRAINT `anotacionesalumnosesion_ibfk_5` FOREIGN KEY (`curso_profesor_id`) REFERENCES `curso_profesores` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `aula`
--

DROP TABLE IF EXISTS `aula`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `aula` (
  `id` int NOT NULL AUTO_INCREMENT,
  `academia_id` int NOT NULL,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `capacidad_maxima` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `academia_id` (`academia_id`),
  CONSTRAINT `aula_ibfk_1` FOREIGN KEY (`academia_id`) REFERENCES `academia` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `curso`
--

DROP TABLE IF EXISTS `curso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `curso` (
  `id` int NOT NULL AUTO_INCREMENT,
  `academia_id` int NOT NULL,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `anio_academico` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date NOT NULL,
  `acepta_nuevos_alumnos` tinyint(1) NOT NULL,
  `capacidad_maxima` int NOT NULL,
  `tarifa_id` int NOT NULL,
  `tipo_alumno` enum('Infantil','Juvenil','Adultos') COLLATE utf8mb4_unicode_ci NOT NULL,
  `estado` enum('Activo','Inactivo','Finalizado') COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `academia_id` (`academia_id`),
  KEY `tarifa_id` (`tarifa_id`),
  CONSTRAINT `curso_ibfk_1` FOREIGN KEY (`academia_id`) REFERENCES `academia` (`id`),
  CONSTRAINT `curso_ibfk_2` FOREIGN KEY (`tarifa_id`) REFERENCES `tarifa` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `curso_profesores`
--

DROP TABLE IF EXISTS `curso_profesores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `curso_profesores` (
  `id` int NOT NULL AUTO_INCREMENT,
  `curso_id` int NOT NULL,
  `usuario_id` int NOT NULL,
  `fecha_alta` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `fecha_baja` datetime DEFAULT NULL,
  `fecha_ult_modificacion` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `motivo_baja` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `curso_id` (`curso_id`),
  KEY `usuario_id` (`usuario_id`),
  CONSTRAINT `curso_profesores_ibfk_1` FOREIGN KEY (`curso_id`) REFERENCES `curso` (`id`),
  CONSTRAINT `curso_profesores_ibfk_2` FOREIGN KEY (`usuario_id`) REFERENCES `usuario` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `descuentos_tarifa`
--

DROP TABLE IF EXISTS `descuentos_tarifa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `descuentos_tarifa` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tarifa_id` int NOT NULL,
  `motivo_descuento` char(1) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo_descuento` char(1) COLLATE utf8mb4_unicode_ci NOT NULL,
  `porcentaje_descuento` float DEFAULT NULL,
  `importe_descuento` float DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tarifa_id` (`tarifa_id`),
  CONSTRAINT `descuentos_tarifa_ibfk_1` FOREIGN KEY (`tarifa_id`) REFERENCES `tarifa` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `extractos`
--

DROP TABLE IF EXISTS `extractos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `extractos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `inscripcion_id` int NOT NULL,
  `curso_id` int NOT NULL,
  `alumno_id` int NOT NULL,
  `numero_extracto` int NOT NULL,
  `saldo_ingreso_cuenta_anterior` float DEFAULT NULL,
  `estado_liquidacion_extracto` enum('1','2') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '1: Pendiente de liquidación, 2: Liquidado',
  `fecha_alta` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `fecha_ini_periodo` date NOT NULL,
  `fecha_fin_periodo` date NOT NULL,
  `id_dcto_tarifa_1` int DEFAULT NULL,
  `motivo_dcto1` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo_dcto_1` char(1) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `porcentaje_dcto_1` float DEFAULT NULL,
  `importe_descuento_1` float DEFAULT NULL,
  `id_dcto_tarifa_2` int DEFAULT NULL,
  `motivo_dcto2` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo_dcto_2` char(1) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `porcentaje_dcto_2` float DEFAULT NULL,
  `importe_descuento_2` float DEFAULT NULL,
  `id_dcto_tarifa_3` int DEFAULT NULL,
  `motivo_dcto3` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo_dcto_3` char(1) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `porcentaje_dcto_3` float DEFAULT NULL,
  `importe_descuento_3` float DEFAULT NULL,
  `importe_cuota` float NOT NULL,
  `total_descuentos` float NOT NULL,
  `importe_cuota_mensual_sin_descuentos` float NOT NULL,
  `importe_cuota_mensual_con_descuentos` float NOT NULL,
  `importe_exceso_ingresos` float DEFAULT NULL,
  `total_importe_a_cobrar` float NOT NULL,
  PRIMARY KEY (`id`),
  KEY `inscripcion_id` (`inscripcion_id`),
  KEY `curso_id` (`curso_id`),
  KEY `alumno_id` (`alumno_id`),
  CONSTRAINT `extractos_ibfk_1` FOREIGN KEY (`inscripcion_id`) REFERENCES `inscripcion` (`id`),
  CONSTRAINT `extractos_ibfk_2` FOREIGN KEY (`curso_id`) REFERENCES `curso` (`id`),
  CONSTRAINT `extractos_ibfk_3` FOREIGN KEY (`alumno_id`) REFERENCES `alumno` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `familias_alumnos`
--

DROP TABLE IF EXISTS `familias_alumnos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `familias_alumnos` (
  `id_familia_alumno` int NOT NULL AUTO_INCREMENT,
  `id_alumno1` int NOT NULL,
  `id_alumno2` int NOT NULL,
  `relacion_familiar` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id_familia_alumno`),
  KEY `id_alumno1` (`id_alumno1`),
  KEY `id_alumno2` (`id_alumno2`),
  CONSTRAINT `familias_alumnos_ibfk_1` FOREIGN KEY (`id_alumno1`) REFERENCES `alumno` (`id`),
  CONSTRAINT `familias_alumnos_ibfk_2` FOREIGN KEY (`id_alumno2`) REFERENCES `alumno` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `horariocurso`
--

DROP TABLE IF EXISTS `horariocurso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `horariocurso` (
  `id` int NOT NULL AUTO_INCREMENT,
  `curso_id` int NOT NULL,
  `aula_id` int NOT NULL,
  `dia_semana` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `hora_inicio` time NOT NULL,
  `hora_fin` time NOT NULL,
  PRIMARY KEY (`id`),
  KEY `curso_id` (`curso_id`),
  KEY `aula_id` (`aula_id`),
  CONSTRAINT `horariocurso_ibfk_1` FOREIGN KEY (`curso_id`) REFERENCES `curso` (`id`),
  CONSTRAINT `horariocurso_ibfk_2` FOREIGN KEY (`aula_id`) REFERENCES `aula` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `inscripcion`
--

DROP TABLE IF EXISTS `inscripcion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inscripcion` (
  `id` int NOT NULL AUTO_INCREMENT,
  `alumno_id` int NOT NULL,
  `curso_id` int NOT NULL,
  `tarifa_id` int NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date DEFAULT NULL,
  `motivo_baja` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `alumno_id` (`alumno_id`),
  KEY `curso_id` (`curso_id`),
  KEY `tarifa_id` (`tarifa_id`),
  CONSTRAINT `inscripcion_ibfk_1` FOREIGN KEY (`alumno_id`) REFERENCES `alumno` (`id`),
  CONSTRAINT `inscripcion_ibfk_2` FOREIGN KEY (`curso_id`) REFERENCES `curso` (`id`),
  CONSTRAINT `inscripcion_ibfk_3` FOREIGN KEY (`tarifa_id`) REFERENCES `tarifa` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `movimientos_extracto`
--

DROP TABLE IF EXISTS `movimientos_extracto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `movimientos_extracto` (
  `id` int NOT NULL AUTO_INCREMENT,
  `inscripcion_id` int NOT NULL,
  `curso_id` int NOT NULL,
  `alumno_id` int NOT NULL,
  `extracto_id` int NOT NULL,
  `fecha_movimiento` date NOT NULL,
  `tipo_movimiento` enum('Ingreso','Anulacion_Ingreso') COLLATE utf8mb4_unicode_ci NOT NULL,
  `estado_liquidacion_movimiento` enum('1','2') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '1: Pendiente, 2: Cobrado',
  `importe` float NOT NULL,
  `descripcion_movimiento` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `metodo_pago` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `indicador_movimiento_anulado` enum('S','N') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'N' COMMENT 'S: Anulado, N: No Anulado',
  PRIMARY KEY (`id`),
  KEY `inscripcion_id` (`inscripcion_id`),
  KEY `curso_id` (`curso_id`),
  KEY `alumno_id` (`alumno_id`),
  KEY `extracto_id` (`extracto_id`),
  CONSTRAINT `movimientos_extracto_ibfk_1` FOREIGN KEY (`inscripcion_id`) REFERENCES `inscripcion` (`id`),
  CONSTRAINT `movimientos_extracto_ibfk_2` FOREIGN KEY (`curso_id`) REFERENCES `curso` (`id`),
  CONSTRAINT `movimientos_extracto_ibfk_3` FOREIGN KEY (`alumno_id`) REFERENCES `alumno` (`id`),
  CONSTRAINT `movimientos_extracto_ibfk_4` FOREIGN KEY (`extracto_id`) REFERENCES `extractos` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `passwordresettoken`
--

DROP TABLE IF EXISTS `passwordresettoken`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `passwordresettoken` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `usuario_id` int NOT NULL,
  `token_hash` char(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expires_at` datetime NOT NULL,
  `used_at` datetime DEFAULT NULL,
  `ip` varbinary(16) DEFAULT NULL,
  `user_agent` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_pwdreset_hash` (`token_hash`),
  KEY `idx_pwdreset_usuario_exp` (`usuario_id`,`expires_at`),
  CONSTRAINT `passwordresettoken_ibfk_1` FOREIGN KEY (`usuario_id`) REFERENCES `usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `permisosrol`
--

-- (permisosrol table removed - permissions are classified via Rol_Usuario.permisos_rol)
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `refreshtoken`
--

DROP TABLE IF EXISTS `refreshtoken`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `refreshtoken` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `usuario_id` int NOT NULL,
  `token_hash` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `issued_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `expires_at` datetime NOT NULL,
  `revoked_at` datetime DEFAULT NULL,
  `replaced_by_id` bigint DEFAULT NULL,
  `ip` tinyblob,
  `user_agent` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `device_id` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `scope` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_refreshtoken_hash` (`token_hash`),
  KEY `idx_refreshtoken_usuario_exp` (`usuario_id`,`expires_at`),
  KEY `idx_refreshtoken_revoked` (`revoked_at`),
  CONSTRAINT `fk_RefreshToken_usuario_id_Usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuario` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `rol_usuario`
--

DROP TABLE IF EXISTS `rol_usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rol_usuario` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `permisos_rol` tinyint NOT NULL DEFAULT 3,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=78 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `sesion`
--

DROP TABLE IF EXISTS `sesion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sesion` (
  `id` int NOT NULL AUTO_INCREMENT,
  `aula_id` int NOT NULL,
  `curso_profesor_id` int NOT NULL,
  `timestamp_alta` datetime NOT NULL,
  `hora_inicio` time NOT NULL,
  `hora_fin` time NOT NULL,
  `timestamp_baja` datetime DEFAULT NULL,
  `motivo_baja` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `notas_sesion` text COLLATE utf8mb4_unicode_ci,
  `notas_materia` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  KEY `curso_profesor_id` (`curso_profesor_id`),
  KEY `aula_id` (`aula_id`),
  CONSTRAINT `sesion_ibfk_1` FOREIGN KEY (`curso_profesor_id`) REFERENCES `curso_profesores` (`id`),
  CONSTRAINT `sesion_ibfk_2` FOREIGN KEY (`aula_id`) REFERENCES `aula` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tarifa`
--

DROP TABLE IF EXISTS `tarifa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tarifa` (
  `id` int NOT NULL AUTO_INCREMENT,
  `academia_id` int NOT NULL,
  `descripcion` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `precio_base` float NOT NULL,
  `fecha_alta` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `fecha_baja` datetime DEFAULT NULL,
  `fecha_ultima_modificacion` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `academia_id` (`academia_id`),
  CONSTRAINT `tarifa_ibfk_1` FOREIGN KEY (`academia_id`) REFERENCES `academia` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tokens`
--

DROP TABLE IF EXISTS `tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tokens` (
  `id` int NOT NULL AUTO_INCREMENT,
  `usuario_id` int NOT NULL,
  `token_acceso` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token_refresh` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha_creacion` datetime NOT NULL,
  `fecha_expiracion` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_tokens_usuario_id_Usuario` (`usuario_id`),
  CONSTRAINT `fk_tokens_usuario_id_Usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `trabajadorvirtual`
--

DROP TABLE IF EXISTS `trabajadorvirtual`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trabajadorvirtual` (
  `id` int NOT NULL AUTO_INCREMENT,
  `academia_id` int NOT NULL,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `foto` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `apikey` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `es_administrativo_virtual` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `academia_id` (`academia_id`),
  CONSTRAINT `trabajadorvirtual_ibfk_1` FOREIGN KEY (`academia_id`) REFERENCES `academia` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `userloginlog`
--

DROP TABLE IF EXISTS `userloginlog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `userloginlog` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `usuario_id` int NOT NULL,
  `login_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `logout_at` datetime DEFAULT NULL,
  `success` tinyint(1) NOT NULL,
  `fail_reason` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ip` tinyblob,
  `user_agent` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `device_id` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `client` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_ull_usuario_login` (`usuario_id`,`login_at`),
  KEY `idx_ull_success_login` (`success`,`login_at`),
  CONSTRAINT `fk_UserLoginLog_usuario_id_Usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuario` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `id` int NOT NULL AUTO_INCREMENT,
  `academia_id` int DEFAULT NULL,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `rol_id` int NOT NULL,
  `estado` enum('Activo','Bloqueado','Baja') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Activo',
  `fecha_alta` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `fecha_baja` datetime DEFAULT NULL,
  `fecha_ultima_modificacion` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `token_version` int NOT NULL DEFAULT '0',
  `failed_login_count` int NOT NULL DEFAULT '0',
  `last_failed_login_at` datetime DEFAULT NULL,
  `locked_until` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `idx_usuario_email` (`email`),
  KEY `academia_id` (`academia_id`),
  KEY `rol_id` (`rol_id`),
  KEY `idx_usuario_token_version` (`token_version`),
  CONSTRAINT `usuario_ibfk_1` FOREIGN KEY (`academia_id`) REFERENCES `academia` (`id`),
  CONSTRAINT `usuario_ibfk_2` FOREIGN KEY (`rol_id`) REFERENCES `rol_usuario` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=316 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-02 10:37:25
